body{
    background-image: url('try.gif');
    background-size: cover;
}
#accordion .ui-accordion-header.ui-state-active { 
    background: darkorange; 
}
#accordion .ui-accordion-header.ui-state-hover { 
    background: firebrick; 
}
h1{
    color: white;
    border: 3px solid black;
    width: 350px;
}